<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>eBook - 10 lugares incríveis para conhecer antes de morrer</title>
  </head>
  <body>
    <main>
      <section class="indexsection">
        <div class="cadastro">
          <h1>O melhor que exite para ser visto e apreciado</h1>
          <img src="/img/capa.png" alt="" />
          <div class="cadastro2">
            <h2>
              Você não vai querer morrer sem ao menos saber que esses lugares
              exitem né?
            </h2>
            <p>Informe seus dados para receber o eBook</p>
            <div>
              <form action="/create" method="post">
                <div class="inputsForm">
                  <img src="/img/email.png" alt="" />
                  <input
                    autocomplete="off"
                    type="email"
                    class="teste"
                    name="email"
                    id="email"
                    required
                    placeholder="exemplo@email.com"
                  />
                </div>
                <div class="btnContainer">
                  <button id="btnCadastrar" value="0" type="submit">
                    Receber eBook
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
