<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/obrigado.css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <title>Seu eBook j치 est치 pronto</title>
  </head>
  <body>
    <main>
      <section class="obrigadoSection">
        <div class="modal">
          <div class="modalContent">
            <h1>Seu eBook j치 est치 pronto</h1>
            <p>S칩 falta mais uma coisinha <span>游밾</span></p>
            <p>
              Clique no bot칚o abaixo, entre no grupo VIP do Life N칪made no
              WhatsApp. Seu eBook estar치 na descri칞칚o do grupo, boa leitura.
            </p>
            <p class="emoji">游때</p>
            <a href="">
              <img src="/img/grupo.png" alt="" />
            </a>
            <p class="alert">
              * Fique tranquilo(a) n칚o vamos te enviar mensagens desnecess치rias
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
