<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Obrigado</title>
    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2238172719674624');
    fbq('trackCustom', 'Obrigado');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2238172719674624&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>

        <div class="obrigado">
            <div class="obrigadoEsquerdo">
                <h1>Recebemos sua <br> mensagem. 😎</h1>
                <span>Agora é so relaxar que em breve<br>entraremos em contato com você,<br>com as melhores oportunidades do<br>mercado imobiliário de Pouso Alegre e região.</span>
            </div>
            <div class="obrigadoDireita">
                <img src="/img/enviar-correio.png" alt="">
            </div>
        </div>
        <div class="obrigadoPart2">
            <h2>Se deseja falar com um corretor imediatamente <br><br> clique no botão abaixo 👇👇👇</h2>
            <a href="https://api.whatsapp.com/send?phone=5535999345550&text=Ol%C3%A1%2C%20estou%20procurando%20um%20im%C3%B3vel%20para%20comprar%20em%20Pouso%20Alegre" class="obrigadoButton">CORRETOR</a>
            
        </div>
</body>
</html>