@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.indexsection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 0.5rem;
}

.text {
  padding: 0 30px;
  color: white;
  max-height: 150px;
  text-align: center;
}

body {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #005781, #4580A9);
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.btn {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.btn a {
  color: white;
}

.cadastro {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 7px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.cadastro2 {
  padding: 10px 40px;
}

.cadastro img {
  width: 40%;
  margin-bottom: 1rem;
}

.cadastro h1 {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #005781;
  padding: 0 1rem;
}

.cadastro h2 {
  font-size: 12pt;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
}

.cadastro p {
  font-size: 10pt;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
  color: green;
}

.inputsForm {
  border: 1px solid #00000050;
  padding: 0 3px;
  margin-bottom: 20px;
}

.inputsForm input {
  height: 30px;
  border: none;
  width: 89%;
  padding-left: 5px;
}

.inputsForm select {
  height: 30px;
  border: none;
  width: 90%;
  padding-left: 5px;
}

.inputsForm img {
  padding-left: 5px;
  width: 5%;
  vertical-align: middle;
  padding-top: 0.7rem;
  opacity: 0.5;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

#tipoImovel {
  color: #00000050;
}

select:invalid {
  color: gray;
}

.option {
  color: black;
}

p {
  margin-bottom: 10px;
  font-weight: 700;
}

.radio {
  margin-bottom: 20px;
}

.inputRadio {
  margin-bottom: 5px;
}

label {
  font-weight: 700;
}

.btnContainer {
  text-align: center;
}

#btnCadastrar {
  margin-top: 0px;
  width: 250px;
  height: 50px;
  background-color: #1e62d8;
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 7px 2px #1e62d8;
  transition: 0.5s;
}

#btnCadastrar:hover {
  background-color: #4f7942;
  box-shadow: 0px 0px 7px 2px #4f7942;
  width: 200px;
  height: 40px;
}

.obrigado {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 1300px !important;
  margin: 70px auto;
}

.obrigadoEsquerdo h1 {
  color: #fff;
  margin-bottom: 50px;
  text-align: left;
  font-size: 40pt;
}

.obrigadoEsquerdo span {
  color: #fff;
  line-height: 30px;
  font-weight: 300;
  font-size: 15pt;
}

.obrigadoDireita img {
  width: 300px;
}

.obrigadoPart2 {
  display: flex;
  text-align: center;
  color: white;
  flex-direction: column;
  justify-content: center;
}

.obrigadoButton {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 50px auto 50px auto;
  width: 250px;
  height: 50px;
  background-color: #1e62d8;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 7px 2px #1e62d8;
  transition: 0.5s;
  text-decoration: none;
}

.obrigadoButton:hover {
  background-color: #4f7942;
  box-shadow: 0px 0px 7px 2px #4f7942;
  width: 200px;
  height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 777px) {
  .obrigadoDireita img {
    padding-top: 30px;
    width: 200px;
  }

  .obrigado {
    margin: 70px auto 30px auto;
  }
}

@media screen and (max-width: 613px) {
  .text {
    padding: 0 3px;
    color: white;
    max-height: 150px;
    text-align: center;
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .obrigadoPart2 h2 {
    padding: 0 10px;
    font-size: 15pt;
  }
}

@media screen and (max-width: 459px) {
  .obrigadoEsquerdo h1 {
    color: #fff;
    margin-bottom: 50px;
    text-align: left;
    font-size: 35pt;
  }
}

@media screen and (max-width: 450px) {
  .cadastro2 {
    padding: 10px 20px;
  }

  .text {
    padding: 0 3px;
    color: white;
    max-height: 150px;
    text-align: center;
    font-size: 10px;
  }
}

@media screen and (max-width: 410px) {
  .obrigadoEsquerdo h1 {
    color: #fff;
    margin-bottom: 50px;
    text-align: left;
    font-size: 30pt;
  }

  .obrigadoEsquerdo span {
    color: #fff;
    line-height: 30px;
    font-weight: 300;
    font-size: 14pt;
  }
}

.Home {
  position: relative;
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: #000000;
}

.Home h2 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 15px 0;
}

.Home p {
  font-weight: 400;
}

.Home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards a {
  cursor: pointer;
  text-decoration: none;
}

.card {
  display: flex;
  background: #ffffff40;
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  margin: 20px;
  align-items: center;
}

.card:hover {
  position: relative;
  top: -7px;
  background: #ffffff60;
}

.card img {
  display: block;
  margin: 0px auto;
  width: 100px;
}

.card p {
  margin: 0 auto 3px auto;
  color: white;
  text-align: center;
}

.card h2 {
  font-size: 13pt;
  text-align: center;
  color: yellow;
}

.excluir button {
  margin-top: 20px;
  width: 110px;
  height: 30px;
  font-weight: 300;
  background-color: transparent;
  font-size: 11pt;
  color: #ff0000;
  border: 1px solid #ff0000;
  cursor: pointer;
  border-radius: 5px;
}

.excluir button:hover {
  color: white;
  background-color: #ff0000;
}

@media (max-width: 1220px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .card h2 {
    text-align: center;
  }
  .card {
    width: 100%;
    height: 250px;
  }
}

.body_container {
  display: flex;
  justify-content: center;
}

.body_container p {
  color: white;
}

.voltar {
  position: absolute;
  margin: 30px;
  left: 0;
  color: #fff;
  text-decoration: none;
}

.voltar img {
  width: 40px;
  transition: 0.3s;
}

.voltar img:hover {
  width: 45px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 30%;
  background-color: #ffffff40;
  text-align: center;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  cursor: text;
  transition: 0.7s;
  box-shadow: 0px 0px 15px 2px #ffffff40;
}
.container:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 2px #ffffff;
}

.container:hover p {
  color: #000000;
  font-weight: 700;
}

.container:hover span {
  color: #1e01c0;
  font-weight: 700;
}

.container:hover h1 {
  color: #000000;
}

.container h1 {
  color: #ffe600;
  padding: 20px;
  text-transform: uppercase;
}

.container p {
  text-align: center;
  color: #f5ffbe;
  font-weight: 300;
  padding: 0 20px;
}

.span {
  color: #ffffff;
  font-weight: 400;
  font-size: 15pt;
}

.inputLeft {
  margin-left: 10px;
}
/* @media screen and (max-width: 1091px) {
  main {
    padding: 0 10px;
  }

  .cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    top: 50px;
    left: 0;
  }
} */

.modal-overlay {
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  overflow-y: auto;
}

.modal {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  min-height: 150px;
  background-color: #fff;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 200px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #000000, rgb(0, 2, 80));
}

.modal-header h2 {
  font-size: 15pt;
  padding: 10px;
  display: block;
  margin: 0px auto;
  text-align: center;
}

.close-modal {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.close-modal:hover {
  transform: scale(1);
}

.modal-body {
  padding: 0.5rem 1rem;
}

.modal-body div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body div form input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 1px #ccc;
  margin-bottom: 0.4rem;
  border-radius: 0.3rem;
}

.modal-body div button {
  padding: 0.5rem;
  width: 30%;
  font-size: 1rem;
  background-color: transparent;
  color: #0097ce;
  border: solid 1px #0097ce;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-body div button:hover {
  background-color: #0097ce;
  color: #fff;
}

.button-modal-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 25px auto;
  max-width: 1110px;
}

.msg-alert {
  width: 20%;
  text-align: center;
  z-index: 9999999;
  font-weight: 900;
}

.success {
  background-color: blue;
  color: #fff;
  border: solid 1px white;
  padding: 0.5rem;
  border-radius: 5px;
}

.danger {
  background-color: #ff0000;
  color: #fff;
  border: solid 1px white;
  padding: 0.5rem;
  border-radius: 5px;
}

.Acoes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.modal-body-delete {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
}
.modal-body-delete p {
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;

  transition: all 0.3s ease-in-out;
}

.btns_delete {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn_delete {
  background-color: transparent;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn_delete_no {
  color: #ff0000;
  border: solid 1px #ff0000;
}

.btn_delete_no:hover {
  background-color: #ff0000;
  color: #fff;
}

.btn_delete_yes {
  color: #00b309;
  border: solid 1px #00b309;
}

.btn_delete_yes:hover {
  background-color: #00b309;
  color: #fff;
}
